* {
    margin:0px;
    padding:0px;
}

#sidebar {
    position:fixed;
    width:200px;
    height: 100%;
    background:#151719;
    left:-200px;
    transition: all 500ms linear;
    z-index: 1000000000;
}

#sidebar.active {
    left:0px;
}

#sidebar ul li {
    color:rgba(230,230,230,0.9);
    list-style:none;
    padding:15px 10px;
    border-bottom: 1px solid rgba(100,100,100,0.3);
}

#sidebar .toggle-btn {
    position:absolute;
    left:230px;
    top:20px;
}

#sidebar .toggle-btn span {
   display:block;
   width:30px;
   height:5px;
   background: #151719;
   margin: 5px 0px;
   transition: all 0.3s ease;
}

#sidebar.active .line1{
	transform: rotate(-45deg) translate(-4.8px, 9.5px);
}

#sidebar.active .line2{
	opacity: 0;
}

#sidebar.active .line3{
	transform: rotate(45deg) translate(-4.8px, -9.5px);
}

